<header>
  <h1>Moves</h1>
</header>
<section>
  <ul>
    <li><a href="/moves/profile">User Profile</a></li>
    <li><a href="/moves/recent">Recent walking activity</a></li>
    <li><a href="/moves/logout">Log out</a></li>
  </ul>
</section>
