<header>
  <h1>Moves &mdash; User Profile</h1>
</header>
<section>
  <ul>
    <li>User ID <%= @json["userId"] %></li>
    <li>Date joined <%= format_date(@json["profile"]["firstDate"]) %></li>
  </ul>
</section>
