<header>
  <h1>Moves</h1>
</header>
<section>
  <p>To get started with Moves API Demo you'll need to authorize this app.</p>
  <a href="<%= @moves_authorize_uri %>">Authorize Moves API Demo</a>
</section>
